*{

    margin: 0;
    padding: 10px;
}


.login{
position: absolute;
width: 370px;
background-color: aqua;
align-items: center;
border: 0 0 2px solid black;
margin: auto;


}
.forget{

position: absolute;
width: 370px;
background-color: rgb(84, 66, 171);
align-items: center;
border: 0 0 2px solid black;
margin-top: 35%;
}
.signup{

    position: absolute;
    width: 370px;
    background-color: rgb(0, 255, 72);
    align-items: center;
    border: 0 0 2px solid black;
    margin-left:  40%;  
}


.slider .img{

width: 350px;
}
